/ {
    behaviors {
      skp: shift_key_press {
        compatible = "zmk,behavior-mod-morph";
        #binding-cells = <2>;
        bindings = <&kp>, <&kp>;
        mods = <(MOD_LSFT|MOD_RSFT)>;
    };
};

/ {
    keymap {
        compatible = "zmk,keymap";

        layer_5 {
            display-name = "DAVINCI";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                                         &skp UP RBKT              &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                          &kp LS(UP)     &kp K      &kp LS(DOWN)   &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans       &kp LC(B)                         &skp DOWN LBKT            &trans  &trans  &trans  &trans  &trans  &trans
                                &trans  &trans  &trans                                                           &trans  &trans  &trans
            >;
            sensor-bindings = <&inc_dec_kp RIGHT LEFT>;
        };
    };
};
