/ {
    behaviors {
        SHIFT_KEY(skp_up, UP, RBKT)
        SHIFT_KEY(skp_down, DOWN, LBKT)
    };
};

/ {
    keymap {
        compatible = "zmk,keymap";

        layer_5 {
            display-name = "DAVINCI";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                                         &skp_up                   &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                          &kp LS(UP)     &kp K      &kp LS(DOWN)   &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans       &kp LC(B)                         &skp_down                 &trans  &trans  &trans  &trans  &trans  &trans
                                &trans  &trans  &trans                                                           &trans  &trans  &trans
            >;
            sensor-bindings = <&inc_dec_kp RIGHT LEFT>;
        };
    };
};
