/ {
    behaviors {
        SHIFT_TOG(st_game, F4, 4)
        SHIFT_TOG(st_davinci, F5, 5)
    };
};

/ {
    keymap {
        compatible = "zmk,keymap";

        layer_3 {
            display-name = "Fn";
            bindings = <
&studio_unlock  &kp F1         &kp F2         &kp F3         &st_game      &st_davinci                                      &mmv MOVE_UP                     &kp F6       &kp F7     &kp F8       &kp F9      &kp F10          &kp F11
&trans          &bt BT_SEL 0   &bt BT_SEL 1   &bt BT_SEL 2   &bt BT_SEL 3  &bt BT_SEL 4                &mmv MOVE_LEFT  &mkp LCLK       &mmv MOVE_RIGHT  &bootloader  &mkp LCLK  &mkp MCLK    &mkp RCLK   &kp PRINTSCREEN  &kp F12
&trans          &sys_reset     &trans         &bootloader    &trans        &mkp MB5  &trans                            &mmv MOVE_DOWN                   &trans       &trans     &bootloader  &sys_reset  &kp SCROLLLOCK   &kp PAUSE_BREAK
                                              &trans         &trans        &trans                                                                       &trans       &trans     &trans
            >;
            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
        };
    };
};
