/ {
    keymap {
        compatible = "zmk,keymap";

        lower_layer {
            display-name = "NUMBER";
            bindings = <
&trans  &kp N1           &kp N2          &kp N3        &kp N4        &kp N5                                         &mmv MOVE_UP                     &kp N6           &kp N7           &kp N8   &kp N9      &kp N0    &kp BSPC
&trans  &trans           &trans          &trans        &trans        &trans                         &mmv MOVE_LEFT  &mkp LCLK       &mmv MOVE_RIGHT  &kp LEFT         &kp DOWN         &kp UP   &kp RIGHT   &kp HOME  &kp PG_UP
&trans  &rgb_ug RGB_OFF  &rgb_ug RGB_ON  &trans        &trans        &rgb_ug RGB_EFF  &kp C_PP                      &mmv MOVE_DOWN                   &rgb_ug RGB_EFR  &rgb_ug RGB_SPI  &trans   &trans      &kp END   &kp PG_DN
                                         &trans        &trans        &trans                                                                          &trans           &trans           &trans
            >;
            sensor-bindings = <&inc_dec_kp C_BRI_INC C_BRI_DEC>;
        };
    };
};
